[Desktop Entry]
Type=Application
Exec=/home/[USER_ID]/autoinstall-scripts/disable-user-services.sh
Hidden=false
Terminal=false
Name=Disable User Services
Comment=Disable User Services
